<!DOCTYPE html>

<html>
    
<body>
<br><br>
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Customer View</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<br><br>



 
 <p><li>@Html.ActionLink("Search Mobile" , "SearchProduct" , "AdminView")</li></p>
  <br><br>
 <p><li>@Html.ActionLink("Purchase Mobile" , "cart" , "MobileCart")</li></p>

 <br><br>
</body>
</html>